@charset "UTF-8";
html body .wrap form input,
html body .wrap form textarea,
html body .wrap form select, html body .wrap form .w-select {
  padding: 9px 13px;
  border: 1px solid #8F8F8F;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#form div {
  margin-right: 0;
}
#form form {
  display: grid;
  gap: 1.5rem;
}
#form form > * {
  width: 100%;
  max-width: none;
  display: flex;
  gap: 0.75rem;
}
#form form > * > * {
  width: 100%;
}
#form form > * input:not([type=submit]),
#form form > * textarea,
#form form > * select, #form form > * .w-select {
  width: 100%;
}
#form h1 {
  font-size: 2.125rem;
  margin-bottom: 2rem;
}
#form h1 > * {
  font-size: 2.125rem !important;
}

html body .wrap .filters form input,
html body .wrap .filters form textarea,
html body .wrap .filters form select, html body .wrap .filters form .w-select {
  border-radius: 999px;
  margin-bottom: 0;
}
html body .wrap .filters form input.search {
  padding-left: 40px;
}

html body .wrap form div {
  margin-right: 0;
}
html body .wrap form:has(input.error) input[type=submit] {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #731814;
}
html body .wrap form input,
html body .wrap form textarea,
html body .wrap form select, html body .wrap form .w-select {
  color: #232323;
  margin: 0;
}
html body .wrap form input.error,
html body .wrap form textarea.error,
html body .wrap form select.error, html body .wrap form .w-select.error {
  border-color: #731814;
}
html body .wrap form input[type=submit] {
  background-color: #003049;
  color: #FFFFFF;
  border: none;
  width: auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
html body .wrap form input[type=submit]:hover {
  background-color: #27bd2a;
}
html body .wrap form [role=alert] {
  color: #731814;
  border-left: 2px solid #731814;
  font-size: 12px;
  margin-top: 0.5rem;
  display: flex;
  justify-items: center;
  line-height: 1;
  padding: 0 13px;
}
html body .wrap form [role=alert] label {
  margin-bottom: 0;
}
html body .wrap form select, html body .wrap form .w-select {
  color: #666;
  padding-right: 40px;
}
html body .wrap form select, html body .wrap form select::picker(select), html body .wrap form .w-select, html body .wrap form .w-select::picker(select) {
  appearance: none;
  background-image: url('data:image/svg+xml,<svg width="12" height="8" viewBox="0 0 12 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 1.5L6 6.5L11 1.5" stroke="%238F8F8F" stroke-width="1.66667" stroke-linecap="round" stroke-linejoin="round"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#lottietest {
  background-color: rgb(233, 221, 136);
}

.wf-design-mode .loader {
  display: none;
  visibility: hidden;
}
.wf-design-mode .resources-swiper {
  opacity: 1;
}
.wf-design-mode .how-it-works {
  height: auto;
}
.wf-design-mode .how-it-works .hiw-content {
  position: relative;
  height: auto;
}
.wf-design-mode .hiw-slide {
  grid-area: auto;
  grid-row: auto !important;
}
.wf-design-mode .hiw-slide h3 {
  font-size: 20px !important;
}
.wf-design-mode .hiw-slide .hiw-pagination {
  scale: 0.5;
  transform-origin: left;
}
.wf-design-mode .hiw-slide .lottie {
  height: 140px;
  overflow: hidden;
}
.wf-design-mode .spacer {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 2%, transparent 2%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 52%, transparent 52%, transparent);
  mix-blend-mode: difference;
  background-size: 50px 50px;
  background-position: 0 0;
  opacity: 0.1;
  background-repeat: repeat;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  position: relative;
}
.wf-design-mode .spacer:before {
  content: "only visible in editor mode";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  z-index: 1;
}

html:not(.wf-doc) {
  font-size: min(16px, 1.111vw) !important;
}
@media (max-width: 991px) {
  html:not(.wf-doc) {
    font-size: min(16px, 1.614vw) !important;
  }
}
@media (max-width: 768px) {
  html:not(.wf-doc) {
    font-size: max(12px, min(14px, 2vw)) !important;
  }
}
html:not(.wf-doc) .post {
  transition: box-shadow 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.1);
}
html:not(.wf-doc) .post .post-img {
  overflow: hidden;
}
html:not(.wf-doc) .post .post-img img {
  transition: transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}
html:not(.wf-doc) .post:hover {
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
}
html:not(.wf-doc) .post:hover .post-img img {
  transform: scale(1.2);
}
html:not(.wf-doc) .post:hover h4 {
  color: #034077 !important;
}

.page-slot > .wrap:first-of-type {
  padding-top: 12rem;
}

.header.dark .header-bg {
  opacity: 1;
}
.header.dark .wrap-header {
  background-color: rgba(255, 255, 255, 0.05);
}
.header.dark .wrap-header .header-logo, .header.dark .wrap-header .header-burger img {
  filter: brightness(0) invert(1);
  transition: filter 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.header.dark .wrap-header .header-logo:hover, .header.dark .wrap-header .header-burger img:hover {
  filter: brightness(1) invert(0);
}
@media (min-width: 992px) {
  .header.dark .wrap-header > a, .header.dark .wrap-header .dropdown-toggle, .header.dark .wrap-header .header-nav-link {
    transition: color 1s cubic-bezier(0.19, 1, 0.22, 1);
    color: #FFFFFF;
  }
  .header.dark .wrap-header > a:hover, .header.dark .wrap-header .dropdown-toggle:hover, .header.dark .wrap-header .header-nav-link:hover {
    color: #27bd2a;
  }
}
.header.dark .wrap-header .header-signin.ghost.dark {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.header.dark .wrap-header .header-signin.ghost.dark:hover {
  border-color: #27bd2a;
  color: #27bd2a;
}
.header.dark .wrap-header .header-bookdemo {
  background-color: #FFFFFF;
  color: #003049;
}
.header.dark .wrap-header .header-bookdemo:hover {
  background-color: #27bd2a;
  color: #FFFFFF;
}

.gradient-border.w--current {
  background-image: linear-gradient(0deg, #003049 0%, #034077 100%);
  color: #FFFFFF;
}
.gradient-border:not(.w--current)::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  background-image: linear-gradient(180deg, #27bd2a 0%, #27bd2a 40%, #003049 60%, #003049 100%);
  background-position: left;
  pointer-events: none;
  z-index: 1;
  border-radius: inherit;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.w--current .checkforcurrent {
  filter: brightness(0) invert(1);
}

.wrap .wrap {
  padding-left: 0;
  padding-right: 0;
}

[data-swiper], [data-swiper] a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
}
[data-swiper] img, [data-swiper] a img {
  pointer-events: none;
}

#light-mode {
  background-color: white;
  color: #232323;
}
#light-mode .carousel-logo {
  filter: brightness(0);
}

@media (min-width: 769px) {
  .tabsh-text {
    max-width: 16ch;
  }
}

@media (max-width: 768px) {
  .w-tabs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .w-tabs:before, .w-tabs:after {
    display: none;
  }
  .w-tabs .w-tab-menu, .w-tabs .w-tab-content {
    display: contents;
  }
  .w-tabs .w-tab-content .content {
    order: 1;
    grid-area: auto !important;
    grid-column: span 4 !important;
    grid-row: 1 !important;
  }
}

.download-button {
  display: grid;
  grid-template-columns: minmax(0, 1fr) auto;
  grid-gap: 0 5px;
  overflow: hidden;
  color: #666;
  font-weight: 400;
}
.download-button:after {
  content: "__";
  grid-area: 1/2;
  font-weight: 600;
}
.download-button:before {
  content: "↓";
  font-weight: 600;
  grid-area: 1/2;
  translate: 0 -1px;
  transition: translate 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.download-button:hover:before {
  animation: download-button-animation 1s cubic-bezier(0.19, 1, 0.22, 1);
}
@keyframes download-button-animation {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 20px;
  }
  51% {
    translate: 0 -20px;
  }
  100% {
    translate: 0 0;
  }
}

.bg-radial {
  position: relative;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px;
  background-image: radial-gradient(219% 191% at 1% -7%, #034077 39%, rgba(255, 255, 255, 0) 53%, #003049 53%), radial-gradient(106% 65% at 50% 103%, #003049 0%, #034077 100%);
  color: #FFFFFF;
  z-index: 1;
}

.bg-grainy {
  z-index: 1;
}
.bg-grainy:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdn.prod.website-files.com/689484ae9f530620d595ea19/68cd56d59e5d9f03dd28628b_bg%20(1).jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0px 0px, 0px 0px;
  mix-blend-mode: multiply;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 90%, rgba(0, 0, 0, 0) 100%);
  z-index: -1;
}

.timeline-event-wrap:last-child .timeline-event:after {
  display: none;
}

.timeline-event {
  position: relative;
}
.timeline-event:after {
  content: "";
  position: absolute;
  height: 10px;
  width: var(--_sizes---v-margin-s-48);
  background-color: #d8d8d8;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.wf-design-mode [data-swiper] {
  overflow-x: scroll;
}
.masked {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 10%, black 20%, black 80%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0) 100%);
}

.carousel-fade-left {
  z-index: 1;
  background-image: linear-gradient(-90deg, rgba(243, 244, 246, 0) 0%, rgb(243, 244, 246) 100%);
}

.carousel-fade-right {
  z-index: 1;
  background-image: linear-gradient(90deg, rgba(243, 244, 246, 0) 0%, rgb(243, 244, 246) 100%);
}

.w-richtext a,
._w-richtext a {
  color: var(--_colors---brand-colors--brand-green);
  transition: opacity 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}
.w-richtext a:hover,
._w-richtext a:hover {
  opacity: 0.7;
}
.w-richtext h1, .w-richtext h2, .w-richtext h3, .w-richtext h4,
._w-richtext h1,
._w-richtext h2,
._w-richtext h3,
._w-richtext h4 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.w-richtext li,
._w-richtext li {
  list-style-type: initial;
  margin-left: 1.2rem;
}

.w-pagination-previous,
.w-pagination-next {
  display: block !important;
}

/*# sourceMappingURL=style.css.map */
