@use "accordion-tabs" as *;
@use "forms" as *;
@use "variables" as *;

html {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#lottietest {
    background-color: rgb(233, 221, 136);
}

// Editor Mode Styling
.wf-design-mode {
    .loader {
        display: none;
        visibility: hidden;
    }

    .resources-swiper {
        opacity: 1;
    }

    .how-it-works {
        height: auto;

        .hiw-content {
            position: relative;
            height: auto;
        }
    }

    .hiw-slide {
        grid-area: auto;
        grid-row: auto!important;
        
        h3 {
            font-size: 20px!important;
        }

        .hiw-pagination {
            scale: 0.5;
            transform-origin: left;
        }

        .lottie {
            height: 140px;
            overflow: hidden;
        }
    }

    .spacer {
        background-image: linear-gradient(45deg, rgba(255,255,255,0.5) 2%, transparent 2%, transparent 50%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 52%, transparent 52%, transparent);
        mix-blend-mode: difference;
        background-size: 50px 50px;
        background-position: 0 0;
        opacity: 0.1;
        background-repeat: repeat;
        border-radius: 10px;
        border: 1px solid $white; 
        position: relative;
    
        &:before {
            content: "only visible in editor mode";
            position: absolute;
            inset: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: $white;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            z-index: 1;
        }
    }
}

html:not(.wf-doc) {
    font-size: min(16px, 1.111vw)!important;

    @media (max-width: 991px) {
        font-size: min(16px, 1.614vw)!important;
    }

    @media (max-width: 768px) {
        font-size: max(12px, min(14px, 2vw))!important;
    }

    .post {
        transition: box-shadow 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
        box-shadow: 0 4px 30px 0 rgba(black, 0.1);

        .post-img {
            overflow: hidden;
            img {
                transition: transform 1.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
            }
        }
        &:hover {
            box-shadow: 0 4px 30px 0 rgba(black, 0.25);

            .post-img {
                img {
                    transform: scale(1.2);
                }
            }

            h4 {
                color: $infodark!important;
            }
        }
    }
}

.page-slot {
    > .wrap:first-of-type {
        padding-top: 12rem;
    }
}


.header.dark {
    .header-bg {
        opacity: 1;
    }

    .wrap-header {
        background-color: rgba($white, 0.05);

        .header-logo, .header-burger img {
            filter: brightness(0) invert(1);
            transition: filter 0.3s cubic-bezier(0.190, 1.000, 0.220, 1.000);

            &:hover {
                filter: brightness(1) invert(0);
            }
        }

        @media (min-width: 992px) {
            > a, .dropdown-toggle, .header-nav-link {
                transition: color 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
                color: $white;

                &:hover {
                    color: $brandgreen;
                }
            }
        }


        .header-signin.ghost.dark {
            border-color: $white;
            color: $white;

            &:hover {
                border-color: $brandgreen;
                color: $brandgreen;
            }
        }

        .header-bookdemo {
            background-color: $white;
            color: $cosmosblue;

            &:hover {
                background-color: $brandgreen;
                color: $white;
            }
        }
    }
}

.gradient-border {
    &.w--current {
        // gradient from cosmosblue to infodark
        background-image: linear-gradient(0deg, $cosmosblue 0%, $infodark 100%);
        color: $white;
    }
    &:not(.w--current)::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 1px; // Stroke width
        background-image: linear-gradient(180deg, $brandgreen 0%, $brandgreen 40%, $cosmosblue 60%, $cosmosblue 100%);
        background-position: left;
        pointer-events: none;
        z-index: 1;
        border-radius: inherit;
        // Transparent center mask
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.w--current {
    .checkforcurrent {
        filter: brightness(0) invert(1);
    }
}

.wrap .wrap {
    padding-left: 0;
    padding-right: 0;
}

[data-swiper], [data-swiper] a {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;

    img {
        pointer-events: none;
    }
}

#light-mode {
    background-color: white;
    color: $charcoal;
    .carousel-logo {
        filter: brightness(0); 
    }
}

.tabsh-text {
    @media (min-width: 769px) {
        max-width: 16ch;
    }
}

.w-tabs {
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &:before, &:after {
            display: none;
        }

        .w-tab-menu, .w-tab-content {
            display: contents;
        }

        .w-tab-content {
            .content {
                order: 1;
                grid-area: auto!important;
                grid-column: span 4!important;
                grid-row: 1!important;
            }
        }
    }
}

.download-button {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-gap: 0 5px;
    overflow: hidden;
    color: $granite;
    font-weight: 400;

    &:after {
        content: "__";
        grid-area: 1 / 2;
        font-weight: 600;
    }

    &:before {
        //arrow down character
        content: "\2193";
        font-weight: 600;
        grid-area: 1 / 2;
        translate: 0 -1px;
        transition: translate 0.3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    &:hover {
        &:before {
            // create an animation with translate: 0 20px, then translate: 0 -20px, and finally translate: 0 0;
            animation: download-button-animation 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
        }
    }

    @keyframes download-button-animation {
        0% {
            translate: 0 0;
        }
        50% {
            translate: 0 20px;
        }
        51% {
            translate: 0 -20px;
        }
        100% {
            translate: 0 0;
        }
    }
}

.bg-radial {
    position: relative;
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px;
    background-image: radial-gradient(219% 191% at 1% -7%, #034077 39%, #FFFFFF00 53%, #003049 53%),radial-gradient(106% 65% at 50% 103%, #003049 0%, #034077 100%);
    color: $white;
    z-index: 1;
}

.bg-grainy {
    z-index: 1;
    &:before {
        // grain texture
        content: "";
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://cdn.prod.website-files.com/689484ae9f530620d595ea19/68cd56d59e5d9f03dd28628b_bg%20(1).jpg');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px;
        mix-blend-mode: multiply;
        mask-image: linear-gradient(to bottom, rgba(0,0,0,0.5) 90%, rgba(0,0,0,0) 100%);
        z-index: -1;
    }
}

.timeline-event-wrap {
    &:last-child {
        .timeline-event:after {
            display: none;
        }
    }
}

.timeline-event {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: var(--_sizes---v-margin-s-48);
        background-color: $bordercolor;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.wf-design-mode [data-swiper] {
    overflow-x: scroll;
    > * {
        // flex-shrink: 1;

        &:hover {
            // flex-shrink: 0;
        }
    }
}

.masked {
    // mask out the edges of the sides
    mask-image: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 10%, black 20%, black 80%, rgba(0,0,0,0.2) 90%, rgba(0,0,0,0) 100%);
}

.carousel-fade-left {
    z-index:1;
    background-image: linear-gradient(-90deg, rgba(243, 244, 246, 0) 0%, rgba(243, 244, 246, 1) 100%)
}

.carousel-fade-right {
    z-index:1;
    background-image: linear-gradient(90deg, rgba(243, 244, 246, 0) 0%, rgba(243, 244, 246, 1) 100%)
}

.w-richtext,
._w-richtext {
    a {
        color: var(--_colors---brand-colors--brand-green);
        transition: opacity 0.3s cubic-bezier(0.190, 1.000, 0.220, 1.000);

        &:hover {
            opacity: 0.7;
        }
    }

    h1, h2, h3, h4 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    li {
        list-style-type: initial;
        margin-left: 1.2rem;
    }
}

.w-pagination-previous,
.w-pagination-next {
    display: block !important;
}