@use "accordion-tabs" as *;
@use "forms" as *;
@use "variables" as *;

// Spacer Styling
.wf-design-mode .spacer {
    // diagonal pattern in white
    background-image: linear-gradient(45deg, rgba(255,255,255,0.5) 2%, transparent 2%, transparent 50%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0.5) 52%, transparent 52%, transparent);
    mix-blend-mode: difference;
    background-size: 50px 50px;
    background-position: 0 0;
    opacity: 0.1;
    background-repeat: repeat;
    border-radius: 10px;
    border: 1px solid $white; 
    position: relative;

    &:before {
        content: "only visible in editor mode";
        position: absolute;
        inset: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        z-index: 1;
    }
}

html:not(.wf-doc) {
    font-size: min(16px, 1.1vw)!important;
}

.gradient-border {
    &.w--current {
        // gradient from cosmosblue to infodark
        background-image: linear-gradient(0deg, $cosmosblue 0%, $infodark 100%);
        color: $white;
    }
    &:not(.w--current)::before {
        content: '';
        position: absolute;
        inset: 0;
        padding: 1px; // Stroke width
        background-image: linear-gradient(180deg, $brandgreen 0%, $brandgreen 40%, $cosmosblue 60%, $cosmosblue 100%);
        background-position: left;
        pointer-events: none;
        z-index: 1;
        border-radius: inherit;
        // Transparent center mask
        -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.w--current {
    .checkforcurrent {
        filter: brightness(0) invert(1);
    }
}

.wrap .wrap {
    padding-left: 0;
    padding-right: 0;
}

[data-swiper] {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;

    img {
        pointer-events: none;
    }
}

#light-mode {
    background-color: white;
    color: $charcoal;
    .carousel-logo {
        filter: brightness(0);
    }
}

.download-button {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    grid-gap: 0 5px;
    overflow: hidden;
    color: $granite;
    font-weight: 400;

    &:after {
        content: "__";
        grid-area: 1 / 2;
        font-weight: 600;
    }

    &:before {
        //arrow down character
        content: "\2193";
        font-weight: 600;
        grid-area: 1 / 2;
        translate: 0 -1px;
        transition: translate 0.3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    }

    &:hover {
        &:before {
            // create an animation with translate: 0 20px, then translate: 0 -20px, and finally translate: 0 0;
            animation: download-button-animation 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
        }
    }

    @keyframes download-button-animation {
        0% {
            translate: 0 0;
        }
        50% {
            translate: 0 20px;
        }
        51% {
            translate: 0 -20px;
        }
        100% {
            translate: 0 0;
        }
    }
}

.bg-radial {
    background-size: 100% 100%;
    background-position: 0px 0px,0px 0px;
    background-image: radial-gradient(219% 191% at 1% -7%, #034077 39%, #FFFFFF00 53%, #003049 53%),radial-gradient(106% 65% at 50% 103%, #003049 0%, #034077 100%);
    color: $white;
}

.timeline-event-wrap {
    &:last-child {
        .timeline-event:after {
            display: none;
        }
    }
}

.timeline-event {
    position: relative;

    &:after {
        content: "";
        position: absolute;
        height: 10px;
        width: var(--_sizes---v-margin-s-48);
        background-color: $bordercolor;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
    }
}

.wf-design-mode [data-swiper] {
    overflow-x: scroll;
    > * {
        // flex-shrink: 1;

        &:hover {
            // flex-shrink: 0;
        }
    }
}