$charcoal: #232323;
$granite: #666;
$suva: #8F8F8F;
$white: #FFFFFF;
$seasalt: #F9FAFA;
$athens: #F3F4F6; // 
$cosmosblue: #003049;
$infolight: #d2ecf8;
$infodark: #034077;
$brandgreen: #27bd2a;
$shadow: rgba(35, 35, 35, 0.3);
$bordercolor: #d8d8d8;