.button::before {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #3D9DFF 0%, #96D9F5 40%, #96D9F5 60%, #3D9DFF 100%);
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 2s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    inset: 0;
    z-index: -1;
}

.button::after {
    content: "";
    position: absolute;
    background-color: inherit;
    inset: 2px;
    z-index: -1;
    border-radius: 1000px;
}

.button:hover::before {
    background-position: right;
}
