.button::before {
    content: "";
    position: absolute;
    background-color: blue;
    inset: 0;
    z-index: -1;
}

.button::after {
    content: "";
    position: absolute;
    background-color: inherit;
    inset: 2px;
    z-index: -1;
    border-radius: 1000px;
}